*.py[cod]

# C extensions
*_cython.c
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#vim
*.swp

#bfgs optimiser leaves this lying around
iterate.dat

# Nosetests #
#############
*.noseids

# git merge files #
###################
*.orig

# pycharm IDE stuff
.idea/
