sudo: false

language: python

addons:
  apt:
    packages:
      - gfortran
      - libatlas-dev
      - libatlas-base-dev
      - liblapack-dev

python:
  - 2.7
  - 3.3
  - 3.4

before_install:
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - pip install -U pip wheel setuptools
  - pip install numpy cython nose six matplotlib
  - pip install -vvv -U scipy
  - python -V

install:
  - pip install .

script:
  - cd $HOME
  - mkdir empty
  - cd empty
  - nosetests GPy

cache:
  directories:
    - $HOME/.cache/pip
