include *.txt
recursive-include doc *.txt
include *.md
recursive-include doc *.md
include *.cfg
recursive-include doc *.cfg
include *.json
recursive-include doc *.json
recursive-include GPy *.c
recursive-include GPy *.so
recursive-include GPy *.pyx
