recursive-include doc *.cfg
include *.json
recursive-include GPy *.c
recursive-include GPy *.so
recursive-include GPy *.pyx
include GPy/testing/plotting_tests/baseline/*.png
include GPy/testing/pickle_test.pickle
