# For user specific changes edit $HOME/.config/GPy/user.cfg

# [parallel]
# Enable openmp support. This speeds up some computations, depending on the number
# of cores available. Setting up a compiler with openmp support can be difficult on
# some platforms, hence by default it is off.
# openmp = False # True

# [datasets]
# location for the local data cache
# dir=$HOME/tmp/GPy-datasets/ # Any other path you choose

# [cython]
# working = True # False


# [plotting]
# library = matplotlib # plotly, none
