# This is the default configuration file for GPy
# For user specific changes edit $HOME/.config/GPy/user.cfg
# For machine specific changes (i.e. those specific to a given installation) edit GPy/installation.cfg

[parallel]
# Enable openmp support. This speeds up some computations, depending on the number
# of cores available. Setting up a compiler with openmp support can be difficult on
# some platforms, hence by default it is off.
openmp = False

[datasets]
# location for the local data cache
dir = $HOME/tmp/GPy-datasets/

[anaconda]
# if you have an anaconda python installation please specify it here.
installed = False
location = None
 # set this to true if you have the MKL optimizations installed:
MKL = False

[weave]
#if true, try to use weave, and fall back to numpy. if false, just use numpy.
working = True

[cython]
working = True

[plotting]
# Currently supported libraries are: matplotlib, plotly, none.
# for plotly make sure you have setup plotly to load your account.
# none means no plotting will be loaded.
library = matplotlib